.header{

	     min-height: 90px;
          background-color:   red;
}


.wrapper{
	overflow: hidden;
}
.blog{
	float:left; 
	 width: 70%;
	  min-height: 100px;
	  background-color: lime;
}
.contact{
	     float: right;
	      width: 30%;
	       min-height: 100px;
	        background-color:blue;
}


.footer{min-height: 90px;
          background-color: black; 

}

.header{ min-height: 90px;
          background-color: red;
}

.box{
	height: 100px;
	height: 100px;  
}

.box1{ background-color: red;

}
.box2{ background-color: green;

}
